<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyGP Pack Purchase">

<!-- parallel ="tests" thread-count="2"  // 9814b3f8, B65AX029511D0011645, 0123456789ABCDEF, 5203260cfc03930f 

    <parameter name="Systemport" value="8222"/>
	<parameter name="deviceName" value="Oneplus"/>
	<parameter name="platformVersion" value="10"/>
	<parameter name="UDID" value="9814b3f8"/>
	<parameter name="URL_" value="127.0.0.1:5000/wd/hub"/>
	
	<parameter name="Systemport" value="8223"/>
	<parameter name="deviceName" value="Symphony"/>
	<parameter name="platformVersion" value="6"/>
	<parameter name="UDID" value="0123456789ABCDEF"/>
	<parameter name="URL_" value="127.0.0.1:5001/wd/hub"/>
	
	<parameter name="Systemport" value="8224"/>
	<parameter name="deviceName" value="Samsung"/>
	<parameter name="platformVersion" value="8.1"/>
	<parameter name="UDID" value="5203260cfc03930f"/>
	<parameter name="URL_" value="127.0.0.1:5002/wd/hub"/>
	
	<parameter name="Systemport" value="8221"/>
	<parameter name="deviceName" value="R40"/>
	<parameter name="platformVersion" value="9"/>
	<parameter name="UDID" value="B65AX029511D0011645"/>
	<parameter name="URL_" value="127.0.0.1:5001/wd/hub"/>
	
	<parameter name="Systemport" value="8223"/>
	<parameter name="deviceName" value="Symphony"/>
	<parameter name="platformVersion" value="6.0.1"/>
	<parameter name="UDID" value="42000daa4f4b1400"/>
	<parameter name="URL_" value="127.0.0.1:5001/wd/hub"/>

-->

<listeners>
<listener class-name="Resources.ListenersNG"/> 
   <listener class-name="Resources.ExtentReportListener"/>
  
</listeners>

<test name="Data Pack">
 
   <parameter name="Systemport" value="8227"/>
	<parameter name="deviceName" value="xaomi"/>
	<parameter name="platformVersion" value="8.1"/>
	<parameter name="UDID" value="b313c4"/>
	<parameter name="URL_" value="127.0.0.1:5002/wd/hub"/>
	
   <classes>
       <class name="Test.PackPurchase">
       
        <methods>
        <exclude name="DATAEmergency30MB" />
        <exclude name="DATA350MB35MBBonus" />
        <exclude name="DATA1GB103MBBonus" />
        <include name="DATA6GB615BBonus" />
        <include name="DATA3GB308MBBonus" />
        <exclude name="DATA1and5GB154MBBonus" />
        <include name="DATA2GB205MBBonus" />
        <exclude name="DATA1GB103MBBonus189Tk" />
        <exclude name="DATA3GB308MBBonus289Tk" />
        <exclude name="DATA5GB512MBBonus" />
        <exclude name="DATA10GB1GBBonus" />
        <exclude name="DATA3GB" />
        <exclude name="DATA500SMS" />
        <exclude name="DATA555MB" />
        <exclude name="DATA85MB" />
        <exclude name="DATA5GBBioscopePack" />
        <exclude name="DATA2GBBioscopePack" />
        <exclude name="DATA200SMS" />
        <exclude name="DATA1GBBioscopePack" />
        <exclude name="DATA5MB" />
        <exclude name="DATA115MB" />
        <exclude name="DATA30MBBioscopePrimePass" />
        <exclude name="DATA26MBFacebookPack" />
        <exclude name="DATA26MBWhatsAppPack" />
        <exclude name="DATA15GBBecomeaSilverSTAR" />
        <include name="DATA3GB67TK" />
        <exclude name="DATA46MBVideoPack" />
        <exclude name="DATA86MBFacebookPack" />
        <exclude name="VOICE500Minutes" />
        <exclude name="VOICE10Minutes" />
        <exclude name="VOICE330Minutes" />
        <exclude name="VOICE23Minutes" />
        <exclude name="VOICE160Minutes" />
        <exclude name="VOICE90Minutes50SMS" />
        <exclude name="VOICE125Minutes" />
        <exclude name="VOICE200Minutes" />
        <exclude name="VOICE40Minutes" />
        <exclude name="VOICE400Minutes" />
        <exclude name="VOICE70Minutes" />
        <exclude name="VOICE45MinutesPrepaidOnly" />
        <exclude name="VOICE250Minutes" />
        <exclude name="VOICE50Minutes" />
        <exclude name="VOICE300Minutes" />
      </methods>
      
       </class>
    </classes>
  </test>
  
</suite> <!-- Suite -->